@* @model List<ObjetoEscuelaBase> *@

@{
    var controller = ViewBag.Controller;
}

<div class="Container">
    <table class="tablaEscuela">
        <thead>
            <tr>
                <th class="encabezado" scope="col">Nombre</th>
                <th class="encabezado" scope="col">Id</th>
                <th class="encabezado" scope="col">imagen</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var ObjetoEscuela in Model)
            {
                <tr>
                    <td>@ObjetoEscuela.Nombre</td>
                    <td>@ObjetoEscuela.Id</td>
                    <td>
                        <div class="table-edicion">
                            <a asp-controller=@controller
                                asp-action="index"
                                asp-route-id=@ObjetoEscuela.Id
                                class="btn btn-secondary btn-sm ml-2">
                                Detalles
                            </a>
                            <a asp-controller=@controller
                                asp-action="edit"
                                asp-route-id=@ObjetoEscuela.Id
                                class="btn btn-info btn-sm ml-2">
                                Editar
                            </a>
                            <a asp-controller=@controller
                                asp-action="delete"
                                asp-route-id=@ObjetoEscuela.Id
                                class="btn btn-danger btn-sm ml-2">
                                Eliminar
                            </a>
                            @* <button type="submit" href>Editar</button>                    
                            <button type="submit">Ver</button>             
                            <button type="submit">Eliminar</button> *@
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
