@model List<Alumno>

@{
    ViewData["Title"] = "Información Alumno";
    Layout="Simple";
}

@* @foreach(var alumno in Model)
{
    <partial name="ObjetoEscuelaSimple" model="alumno"></partial>
} *@

<div class="Container">
    <table class="tablaAlumnos">
        <thead>
            <tr>
                <th class="encabezado" scope="col">Nombre</th>
                <th class="encabezado" scope="col">Id</th>
                <th class="encabezado" scope="col">imagen</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var alumno in Model)
            {
                <tr>
                    <td>@alumno.Nombre</td>
                    <td>@alumno.UniqueId</td>
                    <td>
                        <figure class="project-image-container">
                            <img class="project-image" alt="Imagen de Alumno">
                        </figure>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

