@model Curso

@{
    ViewData["Title"] = "Creación de Curso";
    Layout="Simple";
}

@* Validacion de datos *@
<div class="Container">
    <div asp-validation-summary="All"></div>
    <form class="Formulario" method="POST">
        <div class=Form-Nombre>
            <label asp-for="Nombre"></label>
            <input asp-for="Nombre"/>
        </div>
        <div class=Form-Direccion>
            <label asp-for="Direccion"></label>
            <input asp-for="Direccion"/>
        </div>
        <div class=Form-Jornada>
            <label asp-for="Jornada"></label>
            @Html.DropDownList("Jornada",Html.GetEnumSelectList<TiposJornada>(),
                                "Seleccione Jornada",
                                new {@class ="form-control"}            
                                )
        </div>
        <input type="submit"/>
    </form>
</div>
